Repository puma/puma, pull requests merged in 2021-06, with the labels that each got.

#2633 Set session id context while creating SSLContext
  ext/puma_http11/mini_ssl.c
Labels: c-ext, ssl, waiting-for-review

#2642 minissl.c - Use Random.bytes if available
  ext/puma_http11/extconf.rb
  ext/puma_http11/mini_ssl.c
Labels: bug, c-ext, ssl

#2648 Use pkg_config for OpenSSL if available
  ext/puma_http11/extconf.rb
Labels: c-ext, feature, ssl, waiting-for-review

#2643 Binder#parse - allow for symlinked unix path, add create_activated_fds debug ENV
  lib/puma/binder.rb
Labels: bug, systemd
